{% extends "master.html" %}

{% block title %}Dashbord{% endblock %}

{% block content %}
If you are logged in, 
<ul>
{% for shot in screenshots %}
    <li>
    	<pre>{{shot.details}}</pre>
    	<pre>{{shot.message}}</pre>
    	<pre>{{shot.key}}</pre>
        <img src="{{ shot.imagesrc }}" alt='Taken on {{ shot.date }}' />
    </li>
{% endfor %}
</ul>

{% endblock %}

{% block sidebar %}
Featurelist
{% endblock %}

{% block marketing %}
{% if not isloggedin %}
  <h2 class="alt">Get instant feedback</h2> 
  <hr> 
  <div class="span-7 colborder"> 
    <h6>Instant</h6> 
    <p>We have technology that blah blah blah</p> 
  </div> 
  <div class="span-8 colborder"> 
    <h6>Reliable</h6> 
    <p>blah blah blah</p> 
  </div> 
  <div class="span-7 last"> 
    <h6>Feedback</h6> 
    <p>Allow users to engage with your system blah blah blah</p> 
  </div> 
  <hr> 
  <hr class="space"> 
{% endif %}

{% endblock %}