<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen, projection"> 
    <title>{% block title %}Get Instant Feedback From Users - Browsersnap{% endblock %}</title>
</head>
<body>
<div class="container"> 
  <div class='span-22'><h1>Browsersnaps</h1> </div>
  <div class='span-1 last'>
    <a href="{{ loginurl }}">{{ logintext }}</a>
   </div>
  <hr> 
  {% block marketing %}{% endblock %}
  <div class="span-15 prepend-1 colborder"> 
  

    <div id="content">
        {% block content %}{% endblock %}
    </div>
  </div>
  <div class='span-7 last'>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div>
  </div>
    
</body>
</html>